nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      a(href="#" class="navbar-brand") IARL
    ul(class="nav navbar-nav navbar-right")
      li
        a(href="/exit") Exit 