<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="main">
    
    <div class="container" id="cardLogin">
        
        <div class="middle">
            
            <div id="login">
                
                <form #f="ngForm" action="localhost:3000/api/login" method="get" >
                    
                    <fieldset class="clearfix">
                        <p>
                            <span class="fa fa-user"></span>
                            <input id="username" 
                            type="text"  
                            Placeholder="Usuário" 
                            [(ngModel)]="model.username" 
                            name="username" 
                            required #user="ngModel">
                            <!--pattern="/([A-z0-9])\w/g"-->
                        </p> <!-- JS because of IE support; better: placeholder="Username" -->
                        <p>
                            <span class="fa fa-lock"></span>
                            <input id="password" 
                            type="password"  
                            Placeholder="Senha" 
                            [(ngModel)]="model.password" 
                            name="password" 
                            required #key="ngModel">
                        </p> <!-- JS because of IE support; better: placeholder="Password" -->
                        
                        <div>
                            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Esqueceu senha?</a></span>
                            <span style="width:50%; text-align:right;  display: inline-block;">
                                <input type="submit" value="Entrar" (click)="login(f)">
                            </span>
                        </div>

                    </fieldset>
                    <div class="clearfix"></div>

                </form>
                
                <div class="clearfix"></div>
            </div> <!-- end login -->
               
            <div class="logo">
                <div class="clearfix">
                    <img height="240px" width="400px" src="../../assets/Logo_3D_1.png" id="guardiansLogo">
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>