@import '../node_modules/ng2-toastr/bundles/ng2-toastr.min.css';

body{
    background-image: url("assets/bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}