<footer class="footer-distributed">

 <div class="footer-right">

   <a href="https://www.facebook.com/guardiansufcg/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://github.com/Guardians-DSC" target="_blank"><i class="fa fa-github"></i></a>

 </div>

 <div class="footer-left">

   <p class="footer-links">
      <a href="#">Início</a>
      ·
      <a href="https://sites.google.com/a/computacao.ufcg.edu.br/guardians-ccc/sobre">Sobre</a>
    </p>

   <p>Desenvolvido por Guardians-DSC/UFCG &copy; 2018</p>
  </div>

</footer>
